<div class="main-wrapper-TODOS-BRICS">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12" style="border: 1px solid black;">

                <div class="d-flex justify-content-center container mt-5">
                    {{#each brique}}
                    <div class="card p-3 bg-white">
                        <div class="about-product text-center mt-2"><img src="/assets/{{this.image}}" alt="{{this.nomBrique}}"
                                width="150">
                            <div>
                                <h4>{{this.nomBrique}}</h4>
                                <h6 class="mt-0 text-black-50">Nom de l'etudiant</h6>
                            </div>
                        </div>
                        <div class="stats mt-2">
                            <div class="d-flex justify-content-between p-price"><span>Price</span><span>$ {{this.valeur}}</span></div>
                            </div>
                            
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>